<h3>Page 1</h3>

<div class="page-content" ng-controller="TabsDemoCtrl">

  <tabset>
    <tab heading="Tab 1" ui-sref="tab-1"></tab>
    <tab heading="Tab 2" ui-sref="tab-2"></tab>
    <!-- <tab heading="Tab 2"><div ui-view="tab-2"></div></tab> -->
    <!-- <tab heading="Tab 3"><div ui-view="tab-3"></div></tab> -->
    <!-- <tab heading="Tab 4"><div ui-view="tab-4"></div></tab> -->
<!--     <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab> -->
  </tabset>
</div>

<div class="tab-content">
    <ui-view></ui-view>
</div>